 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/sports.jpg");
  background-position: 83.22% 50%;
  min-height: 1813px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 49px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1764px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 65px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 70px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 642px;
  height: 395px;
  margin: 62px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 65px 11px 0;
}

.u-section-1 .u-video-1 {
  width: 725px;
  height: 408px;
  margin: 55px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1764px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 58px 321px 0 210px;
}

.u-section-1 .u-text-6 {
  margin: 65px 11px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  margin: 35px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 642px;
  height: 395px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 49px 11px 0 17px;
}

.u-section-1 .u-video-2 {
  width: 725px;
  height: 408px;
  margin: 99px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1455px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 289px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1455px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 271px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 289px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-2 {
    width: 470px;
    height: 264px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2208px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 221px;
  }

  .u-section-1 .u-video-1 {
    width: 360px;
    height: 202px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 216px;
    margin-left: 133px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 221px;
  }

  .u-section-1 .u-video-2 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2698px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2036px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 116px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 209px;
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 191px;
  }
}